<?xml version="1.0"?><!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
    <module name="TreeWalker">
        <module name="MethodName" />
        <module name="ConstantName" />
        <module name="AvoidStarImport" />
        <module name="UnusedImports" />
        <module name="ParameterNumber">
            <property name="max" value="6" />
        </module>
    </module>
</module>